#app {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-start] 300px [col2-start] auto [col3-start] 200px [col3-end];
  grid-template-rows: [row1-start] auto [row1-end];
}

#app-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(16px + 1vmin);
  justify-content: center;
}

#genres-container {
  grid-column: col1-start;
  grid-row: row1-start ;
}

#albums-container {
  grid-column: col2-start;
  grid-row: row1-start ;
}

#albums-filter-container {
  grid-column: col3-start;
  grid-row: row1-start ;
  
}
