.App {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(16px + 1vmin);
  justify-content: center;
}

.App-container {
  display: flex;
  flex-flow: row;
}

.Genres {
  flex: 0 20%;
}

.Albums {
  flex: 1 80%;
}
